.topnav {
  background-color: white;
  overflow: hidden;
  top: 0; 
  width: 100%;
}

.topnav a {
  color: #595959;
  font-family: 'Courier Prime', 'Courier New', monospace;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  color: #668019;
}

.topnav-styling {
  list-style-type: none;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.name {
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: 'Courier Prime', 'Courier New', monospace;
  padding-top: 50px;

}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
}

.contact{
  opacity: 0.7;
  text-align: center;
  padding: 10px;
}

.fa:hover {
  color: #668019;
}

/* Linkedin */
.fa-linkedin {
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 10px;
}

.fa {
  text-decoration: none;
  color: black;
}

/* Github */
.fa-github{
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.fa-envelope{
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 10px;
}

.resume {
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Courier Prime', 'Courier New', monospace;
  text-decoration: none;
}

.resume:hover {
  color: #668019;
}

.avocado {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
  height: 45px;
  width: auto;
  display: block;

}

.about-info {
  font-family: 'Courier Prime', 'Courier New', monospace;
  padding: 0 10px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 150%;
}

.experience {
  padding: 0 10px;
}

.section-header {
  color: #668019;
  opacity: 0.7;
  font-size: 30px;
  font-family: 'Courier Prime', 'Courier New', monospace;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 18px;
  background-color: rgba(135,169,34,0.5);
  font-family: 'Courier Prime', 'Courier New', monospace;
  height: 200px;
  text-align: left;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card-img {
  width: 50px;
  height: auto;
  float: left;
  padding-right: 10px;
}

.card-img-fb {
  margin-top: -10px;
}

.card-img-kwk {
  margin-top: -20px;
}

.card-img-google {
  width: 30px;
  height: auto;
  margin-top: -10px;
}

.card-title {
  font-size: 17px;
}

.duration {
  font-style: italic;
}

.column-skills {
  float: left;
  width: 33.33%;
  padding: 0 10px;
  font-family: 'Courier Prime', 'Courier New', monospace;
  line-height: 50%;
}

.row-skills {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
}

/* Clear floats after the columns */
.row-skills:after {
  content: "";
  display: table;
  clear: both;
}

.teaching-list {
  padding-left: 20px;
  text-decoration: none;
}

.teaching-title {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.teaching-title:hover {
  color: #668019;
}

footer {
  background-color: rgba(135,169,34, 0.7);
  overflow-x: hidden;
  overflow-y: hidden; 
  text-align: center;
  line-height: 50%;
  font-family: 'Courier Prime', 'Courier New', monospace;
  padding: 20px;
}